@charset "utf-8";

@font-face{
    font-family: 'noto-sans-Black';
    src: url("../font/NotoSansKR-Black.otf");
}

@font-face{
    font-family: 'noto-sans-Bold';
    src: url("../font/NotoSansKR-Bold.otf");
}

@font-face{
    font-family: 'noto-sans-Light';
    src: url("../font/NotoSansKR-Light.otf");
}

@font-face{
    font-family: 'noto-sans-Medium';
    src: url("../font/NotoSansKR-Medium.otf");
}

@font-face{
    font-family: 'noto-sans-Regular';
    src: url("../font/NotoSansKR-Regular.otf");
}

@font-face{
    font-family: 'noto-sans-Thin';
    src: url("../font/NotoSansKR-Thin.otf");
}

/* @font-face{
    font-family: 'noto-sans';
    font-weight: 500;
    src: url("../font/NotoSansKR-Black.otf"), url("../font/NotoSansKR-Bold.otf"), url("../font/NotoSansKR-Light.otf"), url("../font/NotoSansKR-Medium.otf"), url("../font/NotoSansKR-Regular.otf"), url("../font/NotoSansKR-Thin.otf");
} */