/* 초기화 */
*{margin:0; padding:0; list-style:none;}

/* 전체 */
body{font-family:'noto-sans-Regular';}

/* wrap */
#wrapMain{width:100%; min-width:1000px; padding:0; margin:0 auto; box-sizing:border-box;}
#wrapSub{width:100%; min-width:1000px; padding:0; margin:0 auto; box-sizing:border-box;}

/* header */
#header{position:relative; width:100%; min-width:1200px; height:70px; margin:0 auto; padding:0 100px; border-bottom:1px solid #ddd; box-sizing:border-box;}

/* #header .logo{font-family:'SCDream4';} */
#header .logo{position:absolute; top:24px; font-family:'NIXGONFONTS_M'; font-size:20px !important;}
#header .logo{font-size:18px; font-weight:600; color:#000; text-decoration:none;}

#header .menu{position:absolute; top:21px; right:100px;}
#header .menu > li{display:inline-block; margin:0 20px;}
#header .menu > li:hover{font-weight:900;}
#header .menu > li > a{color:#000; text-decoration:none; word-break:break-all;}

/* container */
#wrapMain #container, #wrapSub #container{width:100%; box-sizing:border-box;}

/* container - main */
#wrapMain #container{text-align:center;}
#wrapMain #container .mainImg{position:relative; width:100%;}
#wrapMain #container .mainImg .mainText{position:absolute; width:100%; height:99.3%; padding:20% 0 0 16%; background-color:rgba(0, 0, 0, .4); font-size:22px; font-weight:200; color:#ccc; text-align:left; box-sizing:border-box;}
#wrapMain #container .mainImg .mainText > span{font-size:25px; font-weight:500; color:#fff;}
#wrapMain #container .mainImg .mainBanner{width:100%;}

#wrapMain #container .short_cut{display:inline-block; margin-top:60px;}
#wrapMain #container .short_cut > a{display:inline-block; padding:10px 20px; border:1px solid #ccc; border-radius:10px; text-decoration:none; color:#000;}
#wrapMain #container .short_cut > a > strong{margin-right:10px; vertical-align:middle; font-size:14px;}
#wrapMain #container .short_cut > a > img{width:100px; vertical-align:middle;}

#wrapMain #container .notice{margin-top:60px;}
#wrapMain #container .notice h4{display:inline-block; padding-bottom:6px; font-size:24px; border-bottom:1px solid #ccc;}
#wrapMain #container .notice .noticeArea{margin-top:20px;}
#wrapMain #container .notice .noticeBox{display:inline-block; width:500px; min-width:500px; margin:20px; padding:20px; border: 1px solid #ccc; border-radius:10px;}
#wrapMain #container .notice .noticeBox > h5{font-size:18px;}
#wrapMain #container .notice .noticeBox > p{margin-top:10px; font-size:15px;}
#wrapMain #container .notice .noticeBox > span{display:block; margin-top:40px; font-size:15px;}

/* container - sub */
#wrapSub #container{padding:60px 100px;}
.topPattern {width:100%; height:20px; margin-bottom:40px; background:linear-gradient(135deg, #fff 25%, #d0b084 0, #d0b084 50%, #fff 0, #fff 75%, #d0b084 0); -webkit-background-size:30px 30px; background-size:30px 30px;}
#wrapSub #container .title{display:block; border-top:2px solid #ccc; border-bottom:1px solid #ccc; margin-top:40px; padding:10px 20px; font-size:20px; vertical-align:middle;}
#wrapSub #container .title:nth-of-type(1){margin-top:0;}
#wrapSub #container .title .titleIcon{display:inline-block; margin-right:10px; padding:10px; border-radius:50%; background-color:#d0b084; vertical-align:middle; transform:translate(0, -10%);}
#wrapSub #container .text{display:block; margin-top:30px; line-height:32px;}
#wrapSub #container .text .subTitle{font-weight:900;}
#wrapSub #container .text .indent{text-indent:40px;}
#wrapSub #container .text a{color:#000;}

table, th, td{border:1px solid #000; border-collapse : collapse;}
table{width:50%; text-align:center;}
table:nth-of-type(even){margin-top:40px;}
table caption{text-align:left;}
.fR{float:right;}

/* footer */
#footer{width:100%; height:40px; margin-top:60px; padding:20px 0; background-color:#f5f5f5; font-size:14px; text-align:center;}
#footer .address{font-style:normal;}
#footer .address > a{color:#000; text-decoration:none;}
#footer .copy{margin-top:4px;}